/*---- Responsive CSS Start ----*/
@media (max-width: 1440px) {}
@media (max-width: 1366px) {}
@media (max-width: 1024px) {
    .ckv_header_section .ckv_menu ul{
        padding: 0 !important;
    }
    .ckv_fnote_ctnt {
        padding: 45px 70px !important;
    }
    .ckv_fnote .ckv_fnote_ctnt p{
        padding: 16px 28px 28px 0 !important;
    }
    .ckv_fnote{
        padding: 80px 140px !important;
    }
    .ckv_header_section{
        justify-content: center !important;
        column-gap: 40px !important;
    }
}
@media (max-width: 991px) {}
@media (max-width: 768px) {
    .sidebar {
        width: 50px !important;
    }
    .sidebar p{
        font-size: 14px !important;
    }
    .ckv_banner .ckv_banner_content {
        padding: 75px 50px 0 50px !important;
    }
    .ckv_banner .ckv_banner_content h3 {
        font-size: 20px !important;
    }
    .ckv_banner .ckv_banner_content h1 {
        font-size: 40px !important;
    }
    .ckv_header_section {
        justify-content: center !important;
        column-gap: 16px !important;
    }
    .ckv_header_section .ckv_logo img {
        width: 112px !important;
    }
    .ckv_header_section .ckv_menu ul {
        column-gap: 20px !important;
    }
    .ckv_btns {
        padding-top: 50px !important;
        column-gap: 50px !important;
    }
    .ckv_fnote {
        padding: 64px 80px !important;
    }
    .ckv_fnote .ckv_fnote_ctnt h1{
        font-size: 24px;
    }
    .ckv_fnote .ckv_fnote_ctnt p {
        padding: 16px 0px 16px 0 !important;
        font-size: 16px !important;
    }
        .ckv_fnote_ctnt {
            padding: 16px 24px !important;
        }
        .ckv_fnote_ctnt span {
            font-size: 16px !important;
        }
        .ckv_aim_inctvs {
            padding: 0 80px !important;
        }
         
}
@media (max-width: 767px) {}
@media (max-width: 576px) {
    
    .ckv_menu{
        display: none;
    }
    .menu_toggle{
        display: block !important;
        width: 94px !important;
    }
    .bar_corner{
        width: 25px !important;
    }
    .bar_center{
        width: 50px !important;
    }
    .menu_toggle:hover .bar_cente{
        width: 25px !important;
    }
    .ckv_header_section{
        justify-content:center !important ;
    }
}